.auth_container {
    max-width: 1440px;
    width: 100%;
    padding: 32px 24px 48px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100dvb;
}

.auth_container header {
    margin-bottom: 24px;
}

.auth_container header img {
    width: 72px;
}

.form_wrapper {
    display: grid;
    place-items: center;
    width: 100%;
    padding-bottom: 80px;
    gap: 16px;
    flex: 1;
}

.form_wrapper .form_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    background-color: #f7faff;
    padding: 32px 24px;
}

.form_wrapper .form_content .form_hero,
.form_wrapper .form_content .form_box {
    flex: 1;
}

.form_wrapper .form_content .form_hero,
.form_wrapper .form_content .form_box {
    display: grid;
    place-items: center;
}

.form_wrapper .form_content .form_hero img {
    width: 100%;
    max-width: 370px;
    height: 270px;
    object-fit: contain;
}

.form_wrapper .form_content form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 440px;
    width: 100%;
    margin: 0 auto;
}
.form_wrapper .form_content form .input_group {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

.form_wrapper .form_content button {
    text-transform: capitalize;
    height: 48px;
    background-color: #124a7d;
    width: 100%;
    border: 0;
    outline: 0;
    border-radius: 6px;
    color: #fff;
    font-weight: 500;
}
.form_wrapper .form_content button:hover {
    background-color: #203d69;
    transition: all 0.7s;
}

.form_wrapper .form_content .title {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #1c1c1c;
}
.form_wrapper .form_content .title div p,
.form_wrapper .form_content .title div h1 {
    margin-bottom: 0;
}
.form_wrapper .form_content .title div p {
    font-size: 12px;
}

.form_wrapper .form_content .title div h1 {
    font-size: 16px;
    font-weight: 500;
}

@media screen and (min-width: 1024px) {
    .auth_container {
        padding: 32px 80px 48px;
    }
    .auth_container header {
        margin-bottom: 40px;
    }
    .auth_container header img {
        width: 100px;
    }
    .form_wrapper .form_content {
        flex-direction: row;
        gap: 40px;
        padding: 32px;
    }

    .form_wrapper .form_content .form_hero img {
        max-width: 430px;
        height: 360px;
    }
    .form_wrapper .form_content .title div h1 {
        font-size: 20px;
    }
}
