/* card */
.clue_card {
    width: 100%;
    max-width: 372px;
    padding: 24px;
    display: flex;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
        0 4px 6px -4px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
        0 4px 6px -4px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    margin-bottom: 20px;
}

.clue_card .clue_card_wrapper {
    max-width: 290px;
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: space-between;
}

.clue_card .clue_card_wrapper .card_top .title,
.clue_card .clue_card_wrapper .card_top .sub_title {
    font-weight: 700;
    text-transform: uppercase;
}
.clue_card .clue_card_wrapper .card_top .title {
    color: #0b4c7a;
    font-size: 32px;
    line-height: 40px;
}

.clue_card .clue_card_wrapper .card_top .sub_title {
    margin: 10px 0;
    font-size: 20px;
    color: #508dc5;
}

.clue_card .clue_card_wrapper .card_bottom {
    height: fit-content;
}

.description {
    font-size: 16px;
}

.clue_card .clue_card_wrapper .card_bottom .img_box {
    width: 100%;
    height: 120px;
    margin-top: 10px;
}

.clue_card .clue_card_wrapper .card_bottom .img_box img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.clue_card .clue_card_wrapper .card_bottom button {
    width: 100%;
    background-color: #4ea191;
    border: 0;
    outline: 0;
    border-radius: 80px;
    height: 48px;
    text-transform: uppercase;
    font-weight: 700;
    margin-top: 16px;
    color: #fff;
}

.notification-msg {
    width: fit-content;
    background-color: rgb(54, 52, 52);
    color: white;
    border-radius: 7px;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    backdrop-filter: blur(2px);
}

.notification-container {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

.noti-show {
    visibility: show;
}

.noti-hide {
    visibility: hidden;
}

.photo-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

/* Modal Content */
.photo-modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

/* The Close Button */
.close {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px !important;
    background-color: #1f262d;
    color: white;
    display: flex;
    align-items: center;
}

.header-span {
    font-size: 20px;
}

.modal-body {
    padding: 0 !important;
}

@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0;
    }
    to {
        bottom: 0;
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#modalImg {
    width: 100%;
}

.auth-wrapper {
    width: 330px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.add-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.add-modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* The Close Button */
.add-close {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

.add-close:hover,
.add-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.delete-modal-header {
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #da542e;
    color: white;
}

.add-modal-header {
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1d488b;
    color: white;
}

.add-modal-header > span {
    font-size: 25px;
}

.delete-modal-header > span {
    font-size: 25px;
}

.add-modal-body {
    padding: 10px 16px;
}

.add-modal-footer {
    padding: 10px 16px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.delete-modal-footer {
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
}

#addClueBtn,
#addGroupBtn {
    cursor: default;
}

.custom-select {
    -webkit-appearance: none;
    width: 100%;
    -moz-appearance: none;
    appearance: none;
    padding: 8px 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    outline: none;
}

/* Style the dropdown arrow */
.custom-select::after {
    content: "\25BC";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* Style the dropdown list */
.custom-select select {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}

/* Style the options */
.custom-select option {
    background-color: #fff;
    color: #333;
}

.home-control-wrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.home-control-wrapper > span {
    font-size: 16px;
}
